<div class="left copyright">
    <span style="color: gray;">&copy; $siteMeta.year</span> - <a
        href="http://blog.yutown.com">${siteMeta.title}</a><br/>
    Powered by
    <a href="http://blog.yutown.com" target="_blank" class="logo">
        码农鱼塘&nbsp;
        ,
        ver ${siteMeta.version}&nbsp;&nbsp;
        Theme by <a href="http://www.neoease.com" target="_blank">NeoEase</a> &
        <a href="http://vanessa.b3log.org" target="_blank">Vanessa</a>.
</div>
<div class="right goTop">
    <span onclick="window.scrollTo(0, 0);">回到页首</span>
</div>
<script type="text/javascript">
    // set selected navi
    $("#header-navi li").each(function (i) {
        if (i < $("#header-navi li").length - 1) {
            var $it =
            $(this),
                    locationURL = window.location.pathname + window.location.search;
            if (i === 0 && (locationURL === "/")) {
                    $it.addClass("selected");
                return;
            }
            if (locationURL.indexOf($it.find("a").attr("href")) > -1 && i !== 0) {
                    $it.addClass("selected");
            }
        }
    });
</script>